

body{
    background-color: linen; 
    padding: 0;
    margin: 0;
        
}
 h1{

    font-family: 'Prociono', serif;
    font-feature-settings: normal;
/*    font-style: oblique;*/
    font-size:60px;
    color: black;
    text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
    margin-top: 15px;
/*    padding-left: 12%;*/
    line-height: 200px;
    background-image: url(../Imagenes/design1_image1.jpg);
    background-repeat:repeat-x;
    height: 280px;
    display: block;
    background-position: 50% 25%;
    margin-top:0%;
    margin-bottom: -3%;
    float: top;
    text-align: center; 
    
          
}
.logo{

    position: relative;
    top: -50px;
    left:1200px;
    height: 200px;
}

.ribbon{
    border: 2px solid black;
    position:absolute;
    width: 100%;
    height: 70px;
    background: #ee573a;
    left: 00px;
    right: 00px;
}

 
aside{
    font-family: 'Prociono', serif;
    line-height:100px;
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 200px;
    font-weight: bold;
    position: relative;
    margin-top:-5%;
    margin-left: 5%;
/*    font-family: monospace;*/
/*    font-feature-settings: normal;*/
    font-size:40px;
    color:antiquewhite;  
   
} 
h2 {
    font-family: 'Prociono', serif;
/*    font-family: monospace;*/
    font-feature-settings: normal;
/*    font-style: oblique;*/
    font-size:45px;
    color: #008080;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    line-height: 25%;
}
section{
    height: 1000px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 30%;
    margin-top: -60%;
    
}
h3{
font-family: 'Prociono', serif;
/*
    font-family: monospace;
    font-feature-settings: normal;
    font-style:italic;
*/
    font-size:25px;
    width: 70%;
    color:cornflowerblue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

h4{
    font-family: 'Prociono', serif;
/*
    font-family: monospace;
    font-feature-settings: normal;
    font-style:italic;
*/
    font-size: 21px;
    color: cadetblue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h5{
    font-family: 'Prociono', serif;
/*
    font-family: monospace;
    font-feature-settings: normal;
    font-style:italic;
*/
    font-size:18px;
    color: blueviolet;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h6{
    font-family: 'Prociono', serif;
/*
    font-family:sans-serif;
    font-feature-settings: normal;
    font-style:normal;
*/
    font-size:16px;
    width: 65%;
    color:black;
    text-decoration: underline;
}

p{
    font-family: 'Prociono', serif;
/*
    font-family:sans-serif;
    font-feature-settings: normal;
    font-style:normal;
*/
    font-size:15px;
    width: 65%;
    color:black;
}
li{
    font-family: 'Prociono', serif;
/*
    font-family:sans-serif;
    font-feature-settings: normal;
    font-style:normal;
*/
    font-size:14px;
    width: 65%;
    color:black;
}

table{
    
    width: 90%;
    height: 50%;
    text-align: center;
    margin-bottom: 70px;
    margin-left: 40px;
}
th{
    font-family: 'Prociono', serif;
   
/*
    font-family: cursive;
    font-weight: bold;
    font-style:normal;
*/
    font-size:20px;
    width: 50px;
    height: 30px;
   
}
td{
    font-family: 'Prociono', serif;
/*
    
    font-family:cursive;
    font-style:normal;
*/
    font-size:17px;
    align-content: center;
    text-align: center;
    width: 50px;
    
}