header{
    background-color: lavender;
}

body {
    font-family: 'Solway';  
}

.mail{
  position: relative;
  text-align: right;
  font-size: 35px;
  top: 30%;
} 

.jumbotron{
    position: relative;
    text-align: center;
    width: 100%;
    font-family: 'Solway';
}

table{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 40px;
}

h2 {
    margin-top: 45px;
    margin-bottom: 35px;
    margin-left: 40px;
    margin-right: 40px;
    font-size:40px;
    color: #008080;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    line-height: 35%;  
}

h3{
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 30px;
    color: #008080;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    line-height: 35%;  
}

p{
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
    line-height: 130%; 
}

.show{
    position: relative;
    margin-left: 10px;
}

img{
    size: 100vw;
}