body{
    background-color:#50A6C2; 
    padding: 0;
    margin: 0;  
}
 h1{
 
    font-family: cursive;
    font-style: italic;
    font-size:40px;
    color: #dc143c;
    text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke; 
    margin-top: 15px;
    padding-left: 25%;
    margin-right: 0;
    line-height: 200px;
    background-image: url(../Imagenes2/design2_image1.jpg);
    background-repeat:repeat-x;
    height: 280px;
    width: 100.5vw;
    display: block;
    background-position: 50% 25%;
    margin-top:0%;
    margin-bottom: -3%;
    float: top;
    
          
}
.logo{
    position: relative;
    top: -20vh;
    left:100vw;
    height: 180px;
}

.ribbon{
    border: 2px solid black;
    position: relative;
    width: 125vw;
    height: 70px;
    background-color: #4b0082;
    left: 00px;
    right: 00px;
}

 
aside{

    line-height:100px;
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 200px;
    font-weight: bold;
    position: relative;
    margin-top:-5%;
    margin-left: 5%;
    font-family: cursive;
    font-size:16px;
    color:black;  
   
} 
h2 {
 
    font-family: cursive;
    font-style: italic;
    font-size:40px;
    color: #28a1a1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    line-height: 25%;
    padding-right: 25%;
}
section{
   
    height: 870px;
    width: 690px;
    position: relative;
    margin-left: 30%;
    margin-top: -80%;
    
}
h3{
 
    font-family: cursive;
    font-style:italic;
    font-size:25px;
    width: 80%;
    color:#6A5ACD;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    margin-left: 10%;

}

h4{
    
    font-family: cursive;
    font-style:italic;
    font-size: 21px;
    margin-left: 20px;
    color: #FFE4E1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h5{
     
    font-family:cursive;
    font-style:italic;
    font-size:18px;
    width: 65%;
    margin-left: 20px;
    color:black;
    text-decoration: underline;
}
h6{
    font-family:cursive;
    font-style:italic;
    font-size:20px;
    line-height: 20px;
    color: #483D8B;
    margin:5px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
    
}
p{   font-family:cursive;
    font-style: normal;
    font-size:16px;
    line-height: 30px;
    color:black;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block; 
    
}
li{
    font-family:cursive;
    font-style:normal;
    font-size:16px;
    width: 98%;
    text-align: justify;
    color:black;
    list-style-type: square;
}

table{
    
    width: 90%;
    height: 50%;
    text-align: center;
    margin-bottom: 70px;
    margin-left: 40px;
}
th{
   
    font-family: cursive;
    font-weight: bold;
    font-style:normal;
    font-size:20px;
    width: 50px;
    height: 30px;
   
}
td{
    
    font-family:cursive;
    font-style:normal;
    font-size:17px;
    align-content: center;
    text-align: center;
    width: 50px;
    
}
.gender{
    font-family: cursive;
}
.grade{
    font-family: cursive;
}
.schools{
    font-family: cursive;
}
.position{
    font-family: cursive;
    
}
.size{
    font-family: cursive;
}  

